<div class="wrapper">
	<div class="sidebar"></div>
	<div class="content-wrapper">
        <div class="navigation">
        	<div class="breadcrumbs">
	        	<ul class="breadcrumbs-list">
		        	<li class="breadcrumb">
			        	<a class="breadcrumb-link bc-home" href="./" title="Home"></a>
		        	</li>
		        	<li class="breadcrumb">
			        	<span class="breadcrumb-separator">&rang;</span>
		        	</li>
		        	<li class="breadcrumb">
			        	<a class="breadcrumb-link" href="./write">Write</a>
		        	</li>
	        	</ul>
        	</div>
            <div class="title">Translation Platform</div>
        </div>
        <div class="container"></div>
    </div>
</div>